.second-bg {
	background-color: $secondColor;
}

.third-bg {
	background-color: $thirdColor;
}

.main-gradient-bg {
	background-image: linear-gradient(
		90deg,
		$thirdColor 0,
		$thirdColor 50%,
		$whiteColor 0,
		$whiteColor
	);
}

.dark-bg {
	background-color: rgba(50, 51, 62, 1);
}

.black-bg {
	background-color: rgba(9, 20, 26, 1);
}

.envelop-bg {
	background-image: url("../../assets/backgrounds/envelop.svg");
	background-repeat: no-repeat;
	// background-size: cover;
	background-position: left bottom;
}

@media (max-width: 992px) {
	.envelop-bg {
		background-position: right bottom;
	}
}

// .bg-colors {
	// background-image: url("../../assets/icons/glow-blue.svg"), url("../../assets/icons/glow-purple.svg");
	// background-size: 60%, 100%;
	// background-position: left top, right bottom;
	// background-repeat: no-repeat;
	// padding: 2rem;
// }